llama-index
llama-index-core
llama-index-embeddings-together
llama-index-llms-together
fitz
streamlit
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
PyMuPDF
together
