llama-index==0.10.55
llama-index-agent-openai==0.2.8
llama-index-cli==0.1.12
llama-index-core==0.10.55
llama-index-embeddings-mistralai==0.1.4
llama-index-embeddings-openai==0.1.10
llama-index-embeddings-together==0.1.3
llama-index-indices-managed-llama-cloud==0.2.5
llama-index-legacy==0.9.48
llama-index-llms-mistralai==0.1.17
llama-index-llms-openai==0.1.25
llama-index-llms-openai-like==0.1.3
llama-index-llms-together==0.1.3
llama-index-multi-modal-llms-openai==0.1.7
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.30
llama-index-readers-google==0.2.9
llama-index-readers-llama-parse==0.1.6
llama-index-vector-stores-milvus==0.1.21
streamlit
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
PyMuPDF
